page-messages-detail {

  // Header
  // --------------------------------------------------

  .toolbar-ios {

    ion-title {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  // Message Details
  // --------------------------------------------------

  .message-detail {

    .scroll-content {
      padding: $base-line-height;
    }

    h2 {
      max-width: 90%;
      font-size: type-scale(2);
      font-weight: weight(bold);
      color: color($colors, greyscale, base);
    }

    ion-note {
      font-size: type-scale(-2);
      color: color($colors, greyscale, base);

      span {
        font-weight: weight(bold);
      }
    }

    .message-text {
      margin: $base-line-height 0;
      font-size: type-scale(0);
      color: color($colors, greyscale, contrast);
    }
  }

  .message-footer {
    display: flex;
    justify-content: center;
    text-align: center;

    button {
      @include button;

      &[outline] {
        color: color($colors, accent, base);
        background-color: transparent;
        border: 2px solid color($colors, accent, base);
      }
    }
  }
}
