page-sign-in {

  // Development Burger Menu Layout
  // --------------------------------------------------

  ion-navbar {
    position:relative;

    .bar-button-menutoggle {
      position: absolute;
    }
  }



  // Logo Layout
  // --------------------------------------------------

  .toolbar-background-ios {
    border-bottom-width: 0;
    background: color($colors, base, contrast);
  }

  .sign-in-logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: $base-line-height * 1.5;
    padding-right: $base-line-height * 1.5;
    padding-left: $base-line-height * 1.5;

    img {
      margin: 0 auto;
    }
  }



  // Sign In Form
  // --------------------------------------------------

  .sign-in-form {
    padding-top: $base-line-height * 1.5;
    padding-bottom: $base-line-height / 2;
    background: color($colors, base, base);

    .list-ios {
      margin: 0;

      .item-input[no-lines] {
        padding-left: 0;
        border-width: 0;

        &.item-block {
          min-height: auto;
        }

        &:last-of-type {
          margin-top: $base-line-height / 2;
        }

        .item-inner {
          padding-right: 0;
        }
      }
    }

    .button {
      display: block;
      margin-top: $base-line-height;
      margin-left: auto;
      margin-right: auto;
    }

    .button:not(.button-clear) {
      @include button($lrpadding: 70px);
    }

    .button-clear {
      @include link($color: color($colors, accent, contrast));
      display: block;

      .button-inner {
        height: auto;
      }
    }
  }



  // Login Error
  // --------------------------------------------------

  .login-notify {
    margin-top: $base-line-height;
    font-size: type-scale(-2);
    font-weight: weight(bold);

    &.error {
      display: flex;
      justify-content: center;
      color: color($colors, warning, base);

      &:before {
        content: "";
        display: inline-block;
        height: 21px;
        width: 21px;
        margin-right: 5px;
        background-image: url('../assets/icon/error-exclamation.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }


  // Learn More Section
  // --------------------------------------------------

  ion-content {
    // bottom: 0;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .learn-more {
    bottom: 0;
    color: color($colors, greyscale, base);
    text-align: center;

    a {
      @include link($color: color($colors, accent, contrast));
      display: block;
      margin-top: 1rem;
    }
  }



  // Slide in animations
  // --------------------------------------------------

  .slide-in{
    animation: slideInSmooth ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
  }


  @-webkit-keyframes slideIn {
    0% {
      top: -50%;
    }
    100% {
      top: 0;
    }
  }

  @-webkit-keyframes slideInSmooth {
    0% {
      transform: translate3d(0,-50%,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }


}
