page-claim-summary {

  .back-home {
    margin: 0;
    padding: 0 5px;
    height: auto;

    &.button-ios.activated {
      background-color: transparent;
    }
  }

  ion-icon[name="arrow-back"] {
    min-width: 18px;
    font-size: 3.4rem;
    color: color($colors, base, contrast);
  }

  .ion-icon-home {
    width: 21px;
    height: 24px;
    margin-left: 5px;
  }



  p {
    font-size: type-scale(-1);
    line-height: 24px;
    color: color($colors, greyscale, base);
  }

  .claim-thank-you {
    padding: $base-line-height;

    h3 {
      margin-bottom: $base-line-height / 3;
    }

    p {
      max-width: 230px;
      margin: 0 auto;
      text-align: center;
    }
  }



  .medical-records-warning {
    padding: 1rem $base-line-height;

    h2 {
      margin-top: 0;
      font-size: type-scale(2);
      font-weight: weight(bold);
      color: color($colors, warning, base);
    }

    .submit-address {
      font-weight: weight(bold);

      a {
        font-size: type-scale(-2);
        text-decoration: none;
        color: color($colors, accent, contrast);
      }

      p {
        margin: 0;
      }
    }
  }



  .claim-confirmation {
    padding: 1rem $base-line-height;

    a {
      font-weight: weight(bold);
      text-decoration: none;
      color: color($colors, accent, contrast);
    }

    p {
      margin: 0;
    }
  }



  .claim-confirmation-home {
    margin-bottom: $base-line-height;
  }

  button[clear] {
    @include link($color: color($colors, accent, contrast));

    &.button-ios.activated {
      background-color: transparent;
      color: color($colors, accent, contrast);
      opacity: 1;
    }

    .button-inner {
      font-size: type-scale(2);
    }
  }
}
