page-claim-summary {

  // Header
  // --------------------------------------------------

  .back-home {
    margin: 0;
    padding: 0 5px;
    height: auto;

    &.button-ios.activated {
      background-color: transparent;
    }
  }

  ion-icon[name="arrow-back"] {
    min-width: 18px;
    font-size: 3.4rem;
    color: color($colors, base, contrast);
  }

  .ion-icon-home {
    width: 21px;
    height: 24px;
    margin-left: 5px;
  }



  // Summary Message Header
  // --------------------------------------------------

  p {
    font-size: type-scale(-1);
    line-height: 24px;
    color: color($colors, greyscale, base);
  }

  .claim-thank-you {
    padding: $base-line-height;

    h3 {
      margin-bottom: $base-line-height / 3;
      color: color($colors, primary, base);
    }

    p {
      max-width: 230px;
      margin: 0 auto;
      text-align: center;
    }
  }



  // Summary Message Warning
  // --------------------------------------------------

  .medical-records-warning {
    padding: 1rem $base-line-height / 1.5;

    h2 {
      margin-top: 0;
      font-size: type-scale(2);
      font-weight: weight(bold);
      color: color($colors, warning, base);
    }

    .submit-address {
      font-weight: weight(bold);

      a {
        font-size: type-scale(-2);
        text-decoration: none;
        color: color($colors, accent, contrast);
      }

      p {
        margin: 0;
      }
    }
  }



  .claim-confirmation {
    padding: 1rem $base-line-height / 1.5;

    a {
      font-weight: weight(bold);
      text-decoration: none;
      color: color($colors, accent, contrast);
    }

    p {
      margin: 0;
    }
  }



  // Reimbursement
  // --------------------------------------------------

  .claim-reimbursement {
    padding: $base-line-height / 1.5;
    background-color: color($colors, base, base);

    h3 {
      margin-top: 0;
      margin-bottom: $base-line-height / 3;
      font-size: type-scale(-1);
      color: color($colors, primary, base);
      text-align: left;
    }

    p {
      margin-top: 0;
      font-weight: weight(bold);
    }

    button {
      display: block;
      margin: 0 auto;
      font-weight: weight(bold);
      color: color($colors, base, contrast);
      background-color: color($colors, accent, base);
    }
  }



  // Summary Buttons
  // --------------------------------------------------

  .claim-confirmation-home {
    margin-bottom: $base-line-height / 4;

    button[clear] {
      @include link($color: color($colors, accent, contrast));

      &.button-ios.activated {
        background-color: transparent;
        color: color($colors, accent, contrast);
        opacity: 1;
      }

      .button-inner {
        font-size: type-scale(2);
      }
    }
  }
}
