page-scoop-main {

  iframe {
    border-width: 0;
    height: 100%;
    width: 100%;
  }

  ion-header {
    position: relative;
  }

  h2 {
    font-family: $font-family-alt;
    font-size: type-scale(2);
  }
}
