page-home {

  .content-ios {
    background-color: color($colors, base, base);
  }

  .layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // Logo Layout
  // --------------------------------------------------

  ion-navbar {
    padding: 5px;

    .toolbar-content-ios {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  ion-header {
    position: relative;
  }

  .home-logo {
    height: $base-line-height * 1.8;
    margin-top: 0;
    margin-bottom: 0px;

    img {
      height: 100%;
      margin: 0 auto;
    }
  }



  // Select a Pet
  // --------------------------------------------------

  ion-scroll {
    min-height: 220px;
    white-space: nowrap;

    .scroll-content {
      background-image: linear-gradient(to top, color($colors, base, contrast) 0%, color($colors, base, contrast) 13%, color($colors, primary, base) 13%, color($colors, primary, base) 100%);
    }

    .scroll-zoom-wrapper {
      height: 100%;
    }

    .home-pet-grid {
      height: 100%;
      padding: 0;
    }

    ion-col {
      min-width: 160px;
      padding: 0;
    }

    figure {
      position: relative;
      top: -2px;
      height: 212px;
      margin: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, 0.2);
      }

      .img-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        width: 195px;
        height: 195px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 7px solid color($colors, primary, contrast);
        transform: translateX(-50%);
      }

      figcaption {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        max-width: 120px;
        margin: 0 auto;
        padding-top: $base-line-height / 2;
        padding-bottom: $base-line-height / 2;
        padding-left: 1rem;
        padding-right: 1rem;
        color: color($colors, base, contrast);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }



  // Navigation Grid
  // --------------------------------------------------

  .home-nav-grid {
    padding: 0;
    justify-content: space-between;
    flex: 1;
    background-color: color($colors, base, contrast);

    .nav-icons {
      min-height: 200px;
    }

    ion-col {
      padding: $base-line-height 0 0;

      .button-ios.activated {
        color: color($colors, primary, base);
        background-color: color($colors, base, base);
        opacity: 1;
      }
    }

    ion-icon {
      position: relative;
      height: 55px;
      width: 75px;
      font-size: 6rem;

      ion-badge {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px 7px;
        font-size: type-scale(0);
        color: color($colors, base, contrast);
        background-color: color($colors, accent, base);
        border-radius: 13px;
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.5);
      }
    }

    .button-inner {
      flex-flow: column;
      justify-content: space-between;
      white-space: normal;
      font-size: type-scale(-2);
    }

    .button-full {
      height: 100%;
      padding: 0.2rem 0;
      margin: 0;
    }
  }



  // Home Messages
  // --------------------------------------------------

  .home-notify {
    margin-top: $base-line-height;
    margin-bottom: 0;
    padding: type-scale(0) 0;
    font-size: type-scale(-2);
    font-weight: weight(bold);
    background-color: color($colors, base, base);
    border-top: 1px solid color($colors, border, contrast);

    &.error {
      display: flex;
      justify-content: center;
      color: color($colors, warning, base);

      &:before {
        content: "";
        height: 21px;
        width: 21px;
        margin-right: 5px;
        background-image: url('../assets/icon/error-exclamation.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    &.success {
      color: color($colors, primary, base);
      text-transform: capitalize;
    }
  }

}
