<ion-header>
  <ion-navbar>
    <figure class="home-logo">
      <img src="assets/logos/logo.png">
    </figure>
  </ion-navbar>
</ion-header>
<ion-content text-center>
  <div class="layout-wrapper">
    <ion-scroll scrollX="true" scrollY="false" zoom="false" maxZoom="false">
      <ion-grid class="home-pet-grid">
        <ion-row>
          <ion-col
            *ngFor="let policy of policies; let i = index;"
            [style.z-index]="policies.length - i">
            <button
              (click)="openPolicy(policy)"
              class="select-button">
              <figure>
                <div
                  class="img-wrapper"
                  [class.single-pet]="policies.length < 2"
                  [style.background-image]="'url(' + policy.pet_image + ')'">
                </div>
                <figcaption
                  *ngIf="policy.pet_type == 'Dog'"
                  style="background-image: url('assets/misc/dog_banner.png')">
                  {{ policy.pet_name }}
                </figcaption>
                <figcaption
                  *ngIf="policy.pet_type == 'Cat'"
                  style="background-image: url('assets/misc/cat_banner.png')">
                  {{ policy.pet_name }}
                </figcaption>
              </figure>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-scroll>
    <ion-grid class="home-nav-grid">
      <ion-row wrap class="nav-icons">
        <ion-col width-33 *ngFor="let page of pages">
          <button ion-button clear full (click)="openPage(page.component)">
            <ion-icon [class]="page.icon">
              <ion-badge *ngIf="page.badge" item-right color="danger">{{ page.badge }}</ion-badge>
            </ion-icon>
            <label>{{ page.title }}</label>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!alert" class="nav-notifications">
        <ion-col>
          <p class="home-notify success" (click)="openAccount()">Welcome {{ display_name }}!</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="alert">
        <ion-col>
          <p class="home-notify error">{{ alert }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
