page-referral {

  iframe {
    border-width: 0;
    height: 100%;
    width: 100%;
  }

  ion-header {
    position: relative;
  }

  .toolbar-ios {

    ion-title {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}
