page-claim-birthday {



  // Background and layout
  // --------------------------------------------------

  .content-ios {
    background-color: color($colors, base, base);
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-header {
    position: relative;
  }



  // Choose a Date
  // --------------------------------------------------

  .choose-date {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;

    & > .item-block {

      &:first-child {
        border-top-width: 0;
        min-height: 115px;
      }
    }

    .date-item {
      padding: $base-line-height $base-line-height 0;
      color: color($colors, primary, base);
      background-color: color($colors, base, base);
      text-align: center;

      .datetime-ios {
        min-height: 65px;
        padding: 0;
      }

      &.item-block {

        .item-inner {
          padding: 0;
          overflow: visible;
          border-width: 0;
        }
      }

      .input-wrapper {
        align-items: center;
        flex-direction: column;
      }

      .label-ios-primary {
        margin: 0;
        font-weight: weight(bold);
        font-size: type-scale(-1);
        overflow: visible;
        white-space: normal;
      }

      .datetime-text {
        font-size: type-scale(-1);
        font-weight: weight(bold);
        color: color($colors, accent, base);
      }
    }
  }
}
