  page-my-claims-detail {

  // Header
  // --------------------------------------------------

  .toolbar-ios {

    ion-title {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  // Claim Details
  // --------------------------------------------------

  .claim-detail {
    padding: 0 $base-line-height $base-line-height;

    .status {
      margin-top: $base-line-height;
      font-size: type-scale(0);
      color: color($colors, greyscale, contrast);
    }
  }

  ion-note {
    font-size: type-scale(-2);
    color: color($colors, greyscale, base);

    span {
      font-weight: weight(bold);
    }
  }
}
