* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-weight: weight(regular);
  line-height: line-height(0);
}

p {
  color: color($colors, greyscale, contrast);
}

strong {
  font-weight: weight(bold);
}

.list-ios {
  .item-input[no-lines] {
    color: color($colors, greyscale, contrast);
    border: 1px solid color($colors, border);
  }
}

input::placeholder {
  font-size: type-scale(-1);
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
}

.toolbar-background-ios {
  border-bottom-width: 0;
}

// List border changes
// --------------------------------------------------

.hp-list {

  & > .item-block:first-child {
    border-color: #E2E2E2;
  }

  & > .item-block:last-child {
    border-color: #E2E2E2;
  }

  .item-ios {
    border-bottom: 1px solid #E2E2E2;
  }
}



// Ionic 2 Modal Full Screen on Tablets
// --------------------------------------------------
@media (min-width: 680px) {
  .modal-wrapper {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}


// Temporary Toolbar Styles (for Development only)
// --------------------------------------------------

.menu-inner .toolbar-ios {

  .toolbar-title-ios {
    color: white
  }

  .bar-button-default-ios {
    color: white;
  }
}
