* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-weight: weight(regular);
  line-height: line-height(0);
  background-color: color($colors, base, base);
}

p {
  color: color($colors, greyscale, contrast);
}

strong {
  font-weight: weight(bold);
}

img {
  display: block;
  max-width: 100%;
}

button {

  &.item-ios.activated {
    background-color: transparent;
  }

  &.button-ios.activated {
    background-color: color($colors, accent, base);
    color: color($colors, base, contrast);
  }
}

.toolbar-background-ios {
  border-bottom-width: 0;
}

.list-ios {
  .item-input[no-lines] {
    color: color($colors, greyscale, contrast);
    border: 1px solid color($colors, border);
  }
}



// Inputs
// --------------------------------------------------

input::placeholder {
  padding-left: .2rem;
  font-size: type-scale(-1);
  font-style: italic;
  font-weight: weight(regular);
  color: color($colors, border, base);
}

ion-input {
  border: 1px solid color($colors, border, base);
  max-height: 40px;
}

.input-ios {

  .text-input {
    width: 100%;
    margin: 0;
    padding: .8rem;
    font-weight: weight(bold);
    color: color($colors, greyscale, base);
  }
}



// List border changes
// --------------------------------------------------

.hp-list {

  & > .item-block:first-child {
    border-color: color($colors, border, contrast);
    border-width: 1px;
  }

  & > .item-block:last-child {
    border-color: color($colors, border, contrast);
    border-width: 1px;
  }

  .item-ios {
    border-bottom: 1px solid color($colors, border, contrast);
  }
}



// Alert Styles
// --------------------------------------------------

.hp-alerts {

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: color($colors, primary, base);

    &:first-child {
      margin-top: 5px;
    }
  }
}

.header-warning {
  margin: 0;
  padding: 3px;
  font-size: type-scale(-3);
  font-weight: weight(semibold);
  color: #B20000;
  text-align: center;
  background-color: color($colors, warning, contrast);
}

// Toast Styles
.hp-toasts {

}



// Picker Styles
// --------------------------------------------------
.picker-ios {

  ion-backdrop {
    opacity: 0 !important;
  }
}



// Ionic 2 Modal Full Screen on Tablets
// --------------------------------------------------
@media (min-width: 680px) {
  .modal-wrapper {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}


// Ionic Loading Spinner Size
// --------------------------------------------------
ion-spinner {
  height: 60px;
  width: 60px;
}



// iframe navigation
// --------------------------------------------------

.iframe-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none; // hidden while functionality is being implemented
  // display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: color($colors, base, contrast);

  ion-icon {
    color: #1D7CFD;
    font-size: 2em;
  }
}


// Slide in animations
// --------------------------------------------------

.slide-in{
  animation: slideInSmooth ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}


@-webkit-keyframes slideIn {
  0% {
    top: -50%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    transform: translate3d(0,-50%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}



// Temporary Toolbar Styles (for Development only)
// --------------------------------------------------

.menu-inner .toolbar-ios {

  .toolbar-title-ios {
    color: white
  }

  .bar-button-default-ios {
    color: white;
  }
}
