@mixin button($color: color($colors, accent, base), $lrpadding: 52px) {
  height: 4rem;
  padding-top: $base-line-height / 2.4;
  padding-bottom: $base-line-height / 2.8;
  padding-left: $lrpadding;
  padding-right: $lrpadding;
  font-weight: weight(bold);
  font-size: type-scale(1);
  color: color($colors, base, contrast);
  background-color: $color;
  border-radius: 4px;

  &[disabled] {
    opacity: 1;
    color: transparentize(color($colors, base, contrast), 0.7);
  }
}

@mixin link($color: color($colors, primary, base)) {
  height: $base-line-height;
  font-weight: weight(bold);
  color: $color;
  background-color: transparent;
}

.bottom-next {
  margin: $base-line-height * 2 0 0;
  padding: 0;
  min-height: 75px;

  &.item[no-lines] {
    background-color: color($colors, base, contrast);
    border-top: 1px solid color($colors, border, contrast);
  }

  .label-ios {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-size: type-scale(1);
    color: color($colors, greyscale, contrast);

    .icon {
      margin-right: 5px;
      height: 25px;
      width: 32px;
    }
  }
}


// Development Burger Menu Layout
// --------------------------------------------------

ion-navbar {
  position: relative;

  .bar-button-menutoggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-25%);
  }
}
