@mixin header($color: color($colors, base, contrast), $bkgrdcolor: color($colors, primary, base)) {
  color: $color;
  background-color: $bkgrdcolor;
}

.primary-header {

  .bar-button-default-ios {
    color: color($colors, base, contrast);
  }

  .toolbar-background {
    @include header;
  }

  .toolbar-title-ios {
    font-size: 2.1rem;
    font-weight: weight(bold);
    line-height: 28px;
    color: color($colors, base, contrast);
  }
}

.back-home-header {

  .back-button {

    .button-inner {
      position: relative;

      &:after {
        @include hp-icons(url('../assets/icon/icon-home.svg'));
        position: absolute;
        left: $base-line-height;
        content: "";
        width: 21px;
        height: 100%;
      }
    }
  }

  .back-button-text-ios {
    visibility: hidden;
  }
}

.claim-header {

  figure {
    margin: 0;
  }

  .img-wrapper {
    height: 135px;
    width: 135px;
    margin: $base-line-height auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px solid color($colors, primary, base);
  }

  h3 {
    margin: 1.2rem auto;
    font-size: type-scale(1);
    font-weight: weight(bold);
    color: color($colors, greyscale, base);
    text-align: center;
  }
}
