@mixin hp-icons($icon: url('../assets/icon/icon-placeholder.svg')) {
    height: 100%;
    width: 100%;
    background-image: $icon;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.ion-icon-new-claim {
  @include hp-icons;
}

.ion-icon-view-claims {
  @include hp-icons;
}

.ion-icon-messages {
  @include hp-icons;
}

.ion-icon-account {
  @include hp-icons;
}

.ion-icon-scoop {
  @include hp-icons;
}

.ion-icon-referral {
  @include hp-icons;
}

.ion-icon-personal-info {
  @include hp-icons;
}

.ion-icon-pet-policies {
  @include hp-icons;
}

.ion-icon-support {
  @include hp-icons;
}

.ion-icon-ball {
  @include hp-icons;
}

.ion-icon-card {
  @include hp-icons;
}

.ion-icon-home {
  @include hp-icons(url('../assets/icon/icon-home.svg'));
}

.ion-icon-modal-close {
  @include hp-icons(url('../assets/icon/icon-modal-close.svg'));
}

.ion-icon-clipboard {
  @include hp-icons;
}

.ion-icon-clipboard-plus {
  @include hp-icons;
}

.ion-icon-delete-photo {
  @include hp-icons(url('../assets/icon/icon-delete.svg'));
}

.ion-icon-camera {
  @include hp-icons(url('../assets/icon/icon-camera.svg'));
}



// Contact Icons
// --------------------------------------------------

.ion-icon-mail {
  @include hp-icons;
}

.ion-icon-phone {
  @include hp-icons;
}

.ion-icon-print {
  @include hp-icons;
}

.ion-icon-messages {
  @include hp-icons;
}

.ion-icon-facebook {
  @include hp-icons;
}

.ion-icon-twitter {
  @include hp-icons;
}

.ion-icon-stamp {
  @include hp-icons;
}
