// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$font-size-base: 1.6rem;
$button-md-font-size: $font-size-base;

$content-padding: 24px;

$modal-background-color: rgba(0, 0, 0, 0.8);



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    (
    base:     #39A354, // Green
    contrast: #6BB675
  ),
  accent:     (
    base:     #FB6517, // Orange
    contrast: #DF7444
  ),
  warning:    (
    base:     #F31923, // Red
    contrast: #FEB7A4
  ),
  base:       (
    base:     #F7F8F2, // White base
    contrast: #FFFFFF
  ),
  greyscale:  (
    base:     #5C5C5C,
    contrast: #393A39
  ),
  border:     (
    base:     #A2A2A2, // Light Grey
    contrast: #E2E2E2  // Lighter Grey
  )
);




// Type Scale
// --------------------------------------------------

$type-scale: (        // Minor Second
  -4: 1.2rem,         // ~12px
  -3: 1.3rem,         // ~13px
  -2: 1.4rem,         // ~14px
  -1: 1.5rem,         // ~15px
  0: $font-size-base, // 16px
  1: 1.7rem,          // ~17px
  2: 1.8rem,          // ~18px
  3: 1.9rem,          // ~19px
  4: 2rem             // ~20px
);

// Helper function
// Use: `font-size: type-scale(-2);`
@function type-scale($level) {
  @return map-get($type-scale, $level);
}




// Baseline Grid
// --------------------------------------------------

$base-line-height: $font-size-base * 1.375; // 22px

$line-height: (
  0: $base-line-height,
  1: $base-line-height * 2
);

// Helper function
// Use: `line-height: line-height(1);`
@function line-height($level) {
  @return map-get($line-height, $level);
}




// Font Families
// --------------------------------------------------
$font-family-base: "Open Sans", sans-serif;
$font-family-md-base: "Open Sans", sans-serif;
$font-family-ios-base: "Open Sans", sans-serif;
$font-family-wp-base: "Open Sans", sans-serif;
$font-family-alt: "Kite One", sans-serif;




// Font Weights
// --------------------------------------------------
$weight: (
  light: 300,
  regular: 400,
  semibold: 600,
  bold: 700,
);

// Helper function
// Use: `font-weight: weight(bold);`
@function weight($level) {
  @return map-get($weight, $level);
}




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
