page-change-password {

  // Header Nav
  // --------------------------------------------------

  .toolbar-ios ion-title {
    padding-left: 60px;
    padding-right: 60px;
  }

  .no-navbar {

    .toolbar-background-ios {
      background-color: transparent;
    }

    .back-button.show-back-button {
      display: none;
    }
  }



  // Logo Image
  // --------------------------------------------------

  figure {
    margin: 2.8rem 0 $base-line-height;

    img {
      max-width: 160px;
      margin: 0 auto;
    }
  }



  // Password Error
  // --------------------------------------------------

  .password-notify {
    margin-top: 0;
    margin-bottom: $base-line-height;
    font-size: type-scale(-2);
    font-weight: weight(bold);

    &.error {
      display: flex;
      justify-content: center;
      color: color($colors, warning, base);

      &:before {
        content: "";
        display: inline-block;
        height: 21px;
        min-width: 21px;
        margin-right: 5px;
        background-image: url('../assets/icon/error-exclamation.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }


  // Password Inputs
  // --------------------------------------------------

  .change-password-inputs {
    padding: $base-line-height;
    background-color: color($colors, base, base);

    h3 {
      margin: 0 auto $base-line-height;
      font-size: type-scale(2);
      font-weight: weight(bold);
      color: color($colors, greyscale, base);
      text-align: center;
    }

    .list-ios {
      margin-bottom: $base-line-height;

      .item[no-lines] {
        margin-top: 1rem;
        padding-left: 0;
        border-width: 0;

        &.item-block {
          min-height: auto;
        }

        .item-inner {
          padding-right: 0;
        }
      }
    }

    .button {
      @include button($lrpadding: 42px);
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }



  // Learn More Section
  // --------------------------------------------------

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .learn-more {
    bottom: 0;
    color: color($colors, greyscale, base);
    text-align: center;

    a {
      @include link($color: color($colors, accent, contrast));
      display: block;
      margin-top: 1rem;
    }
  }
}
