page-change-password {

  // Header Nav
  // --------------------------------------------------

  .toolbar-ios ion-title {
    padding-left: 60px;
    padding-right: 60px;
  }



  // Logo Image
  // --------------------------------------------------

  figure {
    margin: 2.8rem 0 $base-line-height;

    img {
      max-width: 160px;
      margin: 0 auto;
    }
  }



  // Password Inputs
  // --------------------------------------------------

  .change-password-inputs {
    padding: $base-line-height;
    background-color: color($colors, base, base);

    h3 {
      margin: 0 auto $base-line-height;
      font-size: type-scale(2);
      font-weight: weight(bold);
      color: color($colors, greyscale, base);
      text-align: center;
    }

    .list-ios {

      .item[no-lines] {
        margin-top: 1rem;
        padding-left: 0;
        border-width: 0;

        &.item-block {
          min-height: auto;
        }

        .item-inner {
          padding-right: 0;
        }
      }
    }

    .button {
      @include button;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
