<ion-header
  [class.primary-header]="tempPassword == false"
  [class.no-navbar]="tempPassword == true"
  >
  <ion-navbar>
    <ion-title *ngIf="tempPassword == false">
      Change Password
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <figure class="sign-in-logo">
      <img src="assets/logos/logo.png">
    </figure>
    <section class="change-password-inputs">
      <h3>Change Password</h3>
      <form no-validate (ngSubmit)="onSubmit()" [formGroup]="password">
        <ion-list>
          <ion-item no-lines>
            <ion-input type="password" placeholder="Enter new password" formControlName="newPassword"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-input type="password" placeholder="Re-enter password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </ion-list>
        <p
          class="password-notify error slide-in"
          *ngIf="password.get('newPassword').touched && password.get('newPassword').hasError('minlength')">
          Your password must be at least 8 characters with both numbers and letters.
        </p>
        <p
          class="password-notify error slide-in"
          *ngIf="password.get('confirmPassword').touched && password.hasError('nomatch')">
          Passwords must match.
        </p>
        <button ion-button [disabled]="password.invalid" type="submit">Save Changes</button>
      </form>
    </section>
  </div>
  <section>
    <p *ngIf="tempPassword == true" class="learn-more">Not a Healthy Paws Customer? <a (click)="launch('https://www.healthypawspetinsurance.com/')" ion-button clear>Learn More</a></p>
  </section>
</ion-content>
