page-change-password {

  .scroll-content {
    overflow: hidden;
  }

  .list-ios .item[no-lines] {
    margin-top: 1rem;
    border: 1px solid grey;
  }

  input::placeholder {
    font-style: italic;
  }

  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
