<ion-header class="primary-header back-home-header">
  <ion-navbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="messages && messages.length > 0" class="hp-list">
    <button ion-item *ngFor="let message of messages" (click)="openMessage(message)">
      <div class="notify" [class.unread]="message.unread == true"></div>
      <section class="message-details">
        <h2>{{ message.title ? message.title : 'Untitled' }}</h2>
        <p *ngIf="message.content"><span>{{ message.content | slice:0:50 }}</span><span *ngIf="message.content.length > 50">...</span></p>
      </section>
      <ion-note item-right>{{ message.time_ago }}</ion-note>
    </button>
  </ion-list>
  <h3 class="no-messages" *ngIf="noMessages">You don't have any messages.</h3>
</ion-content>
