<ion-header class="primary-header">
  <ion-navbar>
    <ion-title>
      Policy &amp; Billing
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <p *ngIf="display_policy_warning" class="policy-warning">Your last payment failed and was not received.</p>
    <ion-grid class="policy-details">
      <ion-row wrap>
        <ion-col width-50>
          <h3>Policy Holder:</h3>
          {{ display_name }}
        </ion-col>
        <ion-col width-50>
          <h3>Premium Total:</h3>
          {{ display_premium }} Monthly
        </ion-col>
        <div class="hr"></div>
      </ion-row>
      <ion-row class="policy-status">
        <ion-col width-50>
          <h3>Billing Date:</h3>
          <span class="weight-regular">{{ display_billing_day }} Monthly</span>
        </ion-col>
        <ion-col width-50>
          <h3>Status:</h3>
          <span [class.active]="display_account_status == 'Active'">{{ display_account_status }}</span>
          <h3 class="policy-amount-due">Amount Due:</h3>
          <span [class.active]="display_amount_due == '$0.00'">{{ display_amount_due }}</span>
        </ion-col>
      </ion-row>
      <ion-row class="policy-payment">
        <ion-col>
          <h3>Payment Method:</h3>
        </ion-col>
        <ion-col class="policy-card">
          <h3><span>Card</span>: <span>{{ display_cc_num }}</span></h3>
        </ion-col>
      </ion-row>
      <ion-row class="policy-address">
        <ion-col>
          <h3>Billing Address:</h3>
          <div>
            <span class="billing-address">{{ display_address_line1 }}</span>
          </div>
          <div>
            <span class="billing-address">{{ display_address_line2 }}</span>
          </div>
          <div>
            <span class="billing-address">{{ display_address_line3 }}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="display_policy_warning" class="submit-card-information">
      <button ion-button (click)="retryPayment()">Retry Card</button>
    </div>
  </div>
  <ion-list>
    <ion-item class="bottom-next" no-lines>
      <button ion-item (click)="toPayment()">
        <ion-icon class="ion-icon-card"></ion-icon>
        Edit Payment Method
      </button>
    </ion-item>
  </ion-list>
</ion-content>
