page-claim-photo {

  // Background and layout
  // --------------------------------------------------

  .content-ios {
    background-color: color($colors, base, base);
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-header {
    position: relative;
  }

  ion-label {
    text-align: center;
  }

  .bottom-next {
    margin-top: 0;
  }

  .select-photos-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: color($colors, base, contrast);
  }


  // Photo Selection
  // --------------------------------------------------

  .select-photos {
    padding: 1.7rem;
    background-color: color($colors, base, contrast);

    .label-ios {
      margin: 0;
      padding: 0;
    }

    .button-inner {
      flex-flow: column;
      white-space: normal;
      margin: 0 auto;
      font-size: type-scale(0);
      font-weight: weight(bold);
      line-height: line-height(0);

      p {
        max-width: 220px;
        color: color($colors, accent, contrast);
      }
    }

    .button-ios {
      display: block;
      height: auto;
      margin: 0 auto;
      padding: 1rem 4rem;

      &.activated {
        background-color: transparent;
        color: inherit;
      }

      p {
        margin: 0;
      }
    }

    .button-clear-ios.activated {
      opacity: 1;
    }

    .ion-icon-camera {
      height: 19px;
      width: 31px;
      margin-top: $base-line-height / 4;
    }

    ion-grid {

      .width-33 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;

        .claim-photo-wrapper {
          height: 82px;
          width: 82px;

          span {
            height: 24px;
            width: 24px;
          }

          .photo-number {

            p {
              font-size: 1.7rem;
            }
          }
        }
      }

      .claim-photo-wrapper {
        position: relative;
        height: 120px;
        width: 120px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: 2px solid color($colors, border, base);

        span {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 35px;

          &.photo-number {
            left: 0;
            top: 0;
            background-color: color($colors, primary, base);

            p {
              font-size: 2.4rem;
              font-weight: weight(bold);
              line-height: 1;
              color: color($colors, base, contrast);
            }
          }

          &.photo-delete {
            right: 0;
            top: 0;

            ion-icon {
              height: 17.5px;
              width: 17.5px;
            }
          }
        }
      }
    }
  }
}
