<ion-header class="primary-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      New Claim
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <section class="claim-header">
    <figure>
      <div
        class="img-wrapper"
        [style.background-image]="'url(' + chosenPet.petImage + ')'">
      </div>
    </figure>
    <h3>Claim for {{ chosenPet.petName }}</h3>
  </section>
  <div class="select-photos-wrapper">
    <div class="select-photos">
      <ion-grid>
        <ion-row wrap>
          <ion-col
            [ngClass]="{'width-33': photoTotal > 2}"
            *ngFor="let photo of photos; let i = index;">
            <div class="claim-photo-wrapper"
              [style.background-image]="'url(' + photo + ')'">
              <span class="photo-number">
                <p>{{ i + 1 }}</p>
              </span>
              <span class="photo-delete" (click)="deletePhoto(i)">
                <ion-icon class="ion-icon-delete-photo"></ion-icon>
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button clear large (click)="addPhoto()">
        <p *ngIf="photos.length == 0">Add a photo of the invoice you recieved from your veterinary hospital</p>
        <p *ngIf="photos.length > 0">Add another</p>
        <ion-icon class="ion-icon-camera"></ion-icon>
      </button>
    </div>
    <ion-item no-lines class="bottom-next">
      <button ion-item (click)="submitClaim(chosenPet)">
        <ion-icon class="ion-icon-paw-board"></ion-icon>
        Submit Claim
      </button>
    </ion-item>
  </div>
</ion-content>
