page-my-claims {

  // Background and layout
  // --------------------------------------------------

  .content-ios {
    background-color: color($colors, base, base);
  }

  ion-header {
    position: relative;
  }



  // List Layout
  // --------------------------------------------------

  .list-ios {

    .item-block {

      .item-inner {
        position: relative;
        border-bottom-width: 0;
      }

      ion-note {
        position: absolute;
        top: 0;
        right: 14px;
        font-size: type-scale(-2);
        color: color($colors, greyscale, contrast);
      }
    }



  // Avatar & Labels
  // --------------------------------------------------

    .label-ios {
      display: flex;

      .claim-pet-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        .img-wrapper {
          height: 62px;
          width: 62px;
          margin: 0;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          border: 3px solid color($colors, primary, base);
        }
      }

      .claim-pet-details {
        overflow: hidden;
        flex: 1;
        margin: 0;
        padding-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h2 {
        font-size: type-scale(0);
        font-weight: weight(bold);
        color: color($colors, greyscale, base);
      }

      p {
        font-size: type-scale(0);
        color: color($colors, greyscale, contrast);

        &.claim-status {
          font-weight: weight(bold);
          color: color($colors, primary, base);

          &.warning {
            color: #D54042;
          }
        }
      }
    }
  }
}
