<ion-header class="primary-header back-home-header">
  <ion-navbar>
    <ion-title>
      My Claims
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="claims.length > 0" class="hp-list">
    <button ion-item *ngFor="let claim of claims" (click)="openClaim(claim)">
      <figure class="claim-pet-avatar">
        <div
          class="img-wrapper"
          [style.background-image]="'url(' + claim.petImage + ')'">
        </div>
      </figure>
      <section class="claim-pet-details">
        <h2>Claim # {{ claim.number }}</h2>
        <p>For: {{ claim.petName }}</p>
        <p class="claim-status" [class.warning]="claim.status == 'warning'">{{ claim.statusMessage }}</p>
      </section>
      <ion-note item-right>{{ claim.date }}</ion-note>
    </button>
  </ion-list>
  <h3 class="no-claims" *ngIf="claims.length == 0">You don't have any claims.</h3>
</ion-content>
