<ion-header>
  <ion-navbar>
    <button icon-only ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="user-profile">
    <h3>Brian Jorgensen</h3>
    <p>brian.jorgensen@live.com</p>
    <p>6806 52nd Ave NE Seattle WA, 98115</p>
  </section>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-personal-info"></ion-icon>
      Your Information
    </ion-list-header>
    <button ion-item *ngFor="let item of information" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-pet-policies"></ion-icon>
      Your Pet Policies
    </ion-list-header>
    <button ion-item *ngFor="let item of policies" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-support"></ion-icon>
      Support
    </ion-list-header>
    <button ion-item *ngFor="let item of support" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>
  <div text-center class="logout">
    <button ion-button (click)="logout()">Sign Out</button>
  </div>
</ion-content>
