<ion-header class="primary-header back-home-header">
  <ion-navbar>
    <button icon-only ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <section *ngIf="account != null" class="user-profile">
    <h3>{{ display_name }}</h3>
    <p>{{ display_email }}</p>
    <p>{{ display_address }}</p>
  </section>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-card"></ion-icon>
      Your Information
    </ion-list-header>
    <button ion-item *ngFor="let item of information" (click)="itemSelected(item)">
      {{ item.title }}
      <ion-icon *ngIf="item.notification" class="ion-icon-notify"></ion-icon>
    </button>
  </ion-list>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-pet-policies"></ion-icon>
      Your Pet Policies
    </ion-list-header>
    <button ion-item *ngFor="let policy of policies" (click)="openPolicy(policy)">
      {{ policy.petName }}'s Policy
    </button>
  </ion-list>
  <ion-list class="account-links">
    <ion-list-header>
      <ion-icon class="ion-icon-support"></ion-icon>
      Support
    </ion-list-header>
    <button ion-item *ngFor="let item of support" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>
  <div text-center class="logout">
    <button ion-button (click)="logout()">Sign Out</button>
  </div>
</ion-content>
