<ion-header
  class="primary-header"
  [class.back-home-header]="previousPage.name == 'HomePage'">
  <ion-navbar>
    <ion-title>
      {{ policy.pet_name }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div>
      <section class="policy-header">
        <figure>
          <div
            class="img-wrapper"
            [style.background-image]="'url(' + policy.pet_image + ')'">
          </div>
        </figure>
        <h3
          *ngIf="policy.pet_type == 'Dog'"
          style="background-image: url('assets/misc/dog_banner.png')">
          {{ policy.pet_name }}
        </h3>
        <h3
          *ngIf="policy.pet_type == 'Cat'"
          style="background-image: url('assets/misc/cat_banner.png')">
          {{ policy.pet_name }}
        </h3>
      </section>
      <ion-list no-lines class="pet-policy-details">
        <ion-item>
          <p>
            <span class="policy-label">Pet Policy #:</span>
            <span class="policy-value">{{ policy.policy_number }}</span>
          </p>
        </ion-item>
        <ion-item>
          <p>
            <span class="policy-label">Pet Protected Since:</span>
            <span class="policy-value">{{ policy.start_date }}</span>
          </p>
        </ion-item>
        <ion-item>
          <p>
            <span class="policy-label">Reimbursement:</span>
            <span class="policy-value">{{ policy.reimbursement }}</span>
          </p>
        </ion-item>
        <ion-item>
          <p>
            <span class="policy-label">Annual Deductible:</span>
            <span class="policy-value">{{ policy.deductible }}</span>
          </p>
        </ion-item>
        <ion-item>
          <p>
            <span class="policy-label">Monthly Premium:</span>
            <span class="policy-value">{{ policy.premium }}</span>
          </p>
        </ion-item>
      </ion-list>
    </div>
    <ion-list no-lines class="policy-new-claim">
      <ion-item no-lines class="bottom-next">
        <button ion-item (click)="newClaim()" [disabled]="!policy.allow_claim">
          <ion-icon class="ion-icon-new-claim"></ion-icon>
          File a New Claim
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
