page-faq {

  iframe {
    border-width: 0;
    height: 100%;
    width: 100%;
  }

  .label-ios {
    display: flex;
    justify-content: space-between;

    ion-icon {
      align-self: center;
    }
  }

  .button-inner {
    white-space: normal;
  }

  .item-ios {

    .item-button {
      height: auto;
    }
  }
}

page-faq-content {

}
